body{
	background-image:url('https://wallpaperscraft.com/image/white_rose_petals_flower_bright_68307_2560x1440.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

div{
	font-family: 'Shift', sans-serif, Arial;
	text-align: center;
	font-weight:bold;
}

a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  font-family: Arial;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#topper{
	margin:auto;
	background-color: none;
}

.space-for-pictures .container thread{
	margin:auto;
	text-align: center;
}

.space-for-pictures .container td{
	width:33.3%;
	height:33.3%;
	background-color: none, #efefef;
	border-style: solid;
    border-width:15px;
	border-radius: 100%;
	margin:auto;
}

.space-for-pictures .container td div{
	color: black;
	margin: 5%;

}

.space-for-pictures img{
	width:500px;
	height:500px;
}
